*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /*backgrounf imgae */
.bgimg{
    height: 100vh;
    width: 100%;
}


    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      display: none;
      transition: background-color 0.6s ease;
    }
    
    .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }

/* cards  */
.daba{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: linear-gradient(maroon,blue,green,red,violet,purple,yellow);
}

.card{
  margin: 30px;
  margin-top: 10px;
}

#firstSection{
height: 100vh;
}
#secondSection{
height: 100%;
}
#thirdSection{
height: 60vh;
background: url(../img/ts.jpg);
}

.imagesSponsor{
  height: 200px;
  width: 200px;

}


#sponsors{
  display: flex;
  align-items: center;
  justify-content: center;
   flex-direction: row; 
  
}
.sponsor{
  display: flex;
  align-items: center;
  justify-content: center;
   flex-direction: row; 
   margin: 100px 30px;
  
}

.imagesSponsorrs{
  filter: invert(1);
}

.center{
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: cursive;
  padding-top: 20px;
}
.formContainer{
  max-width: 100%;
  margin: auto;
}
.form-group{
  width: 700px;
}

#footer{
height: 10vh;
background-color: black;
text-align: center;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
}
